.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.filters {
  margin-bottom: 20px;
}

.filters input {
  margin-right: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination button {
  margin: 0 5px;
}
.roundgrey{
  background-color: rgb(208, 204, 204);
  text-align: center;
  width: 20px;
  cursor: pointer;

  border-radius: 100%;
}
